In [24]:
# ANOVA feature selection for numeric input and categorical output
from sklearn.datasets import make_classification
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import f_classif
import pandas as pd
import numpy as np

Reference Link: https://machinelearningmastery.com/feature-selection-with-real-and-categorical-data/

** in particular the section 'Classification Feature Selection:
(Numerical Input, Categorical Output)'

## Top 6 Features

In [25]:
df_data = pd.read_csv("../data/train.csv")
# print(df_data.head())

X_cols = ['Subject Focus','Eyes', 'Face','Near','Action','Accessory','Group','Collage','Human','Occlusion','Info','Blur',]
X1 = df_data[X_cols]
Y1 = df_data['Pawpularity'].values[:]

# define feature selection
fs = SelectKBest(score_func=f_classif, k=6)

# apply feature selection
X_selected = fs.fit_transform(X1, Y1)
print(X_selected.shape)

cols = fs.get_support(indices=True)
features_df_new = X1.iloc[:,cols]
features_df_new.head()

(9912, 6)

   Eyes  Face  Action  Group  Occlusion  Info
0     1     1       0      1          0     0
1     1     1       0      0          0     0
2     1     1       0      0          1     0
3     1     1       0      0          0     0
4     0     0       0      1          0     0

## Top 5 Features

In [26]:

# define feature selection
fs = SelectKBest(score_func=f_classif, k=5)

# apply feature selection
X_selected = fs.fit_transform(X1, Y1)
print(X_selected.shape)

cols = fs.get_support(indices=True)
features_df_new = X1.iloc[:,cols]
features_df_new.head()

(9912, 5)

   Eyes  Face  Group  Occlusion  Info
0     1     1      1          0     0
1     1     1      0          0     0
2     1     1      0          1     0
3     1     1      0          0     0
4     0     0      1          0     0

## Top 4 Features

In [22]:
# define feature selection
fs = SelectKBest(score_func=f_classif, k=4)

# apply feature selection
X_selected = fs.fit_transform(X1, Y1)
print(X_selected.shape)

cols = fs.get_support(indices=True)
features_df_new = X1.iloc[:,cols]
features_df_new.head()

(9912, 4)

   Eyes  Face  Occlusion  Info
0     1     1          0     0
1     1     1          0     0
2     1     1          1     0
3     1     1          0     0
4     0     0          0     0

## Top 3 Features

In [23]:
# define feature selection
fs = SelectKBest(score_func=f_classif, k=3)

# apply feature selection
X_selected = fs.fit_transform(X1, Y1)
print(X_selected.shape)

cols = fs.get_support(indices=True)
features_df_new = X1.iloc[:,cols]
features_df_new.head()

(9912, 3)

   Face  Occlusion  Info
0     1          0     0
1     1          0     0
2     1          1     0
3     1          0     0
4     0          0     0